<<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>

    <h3>Welcome to CSE Timetable Management System</h3>

    <br><br>

    <a href="/add_faculty">Add Faculty</a><br><br>
    <a href="#">Add Subjects</a><br><br>
  <!-- dashboard.html -->
<a href="/generate_timetable" class="dashboard-btn">Generate Timetable</a><br><br>
    <a href="/view_faculty">View Faculty</a><br><br>
    <a href="/">Logout</a>
</body>
</html>